[2022-09-14 11:27] reshinthadithyan opened #1 "StackExchange Sites"
## StackExchange

**Dataset URL** - The data dump can be used to obtain all the dumps [here](https://data.stackexchange.com/)

Does the dataset exist in a scraped format?

## Description
Stack Exchange is a network of question-and-answer websites on topics in diverse fields, each site covering a specific topic, where questions, answers, and users are subject to a reputation award process. The repu

[2022-09-14 12:22] flowpoint commented on #1
Hi, i have started working on this

[2022-09-14 13:10] ncoop57 commented on #1
Awesome, please make sure to check the original Pile: https://github.com/EleutherAI/the-pile

To make sure we aren't doing duplicate work

[2022-09-14 13:25] dmahan93 opened #2 "Arduino Forum"
## Arduino forums

Dataset URL - [here](https://forum.arduino.cc/)

Does the dataset exists in a scraped format ?   No
URL if Yes - [here]()

## Description
Forum for Arduino development.

## Procedure

- [ ] Scrape the forum
- [ ] Formulate appropriate filters if at all we want to.
- [ ] Processing and formatting.
- [ ] lm_dataformat Processing

[2022-09-14 13:29] dmahan93 opened #3 "Texas Instruments Forum"
## Title

Dataset URL - [here](https://e2e.ti.com/)

Does the dataset exists in a scraped format ?  No
URL if Yes - [here]()

## Description
Texas Instruments Forum. Likely we only care about the Microcontroller, Processor, and Tools subforums.

## Procedure
- [ ] Scrape the website
- [ ] Formulate appropriate filters if at all we want to.
- [ ] Processing and formatting.
- [ ] lm_dataformat Proce

[2022-09-14 13:30] dmahan93 opened #4 "gitlab"
## Title

Dataset URL - [here]([https://gitlab.com)

Does the dataset exists in a scraped format ?   No
URL if Yes - [here]()

## Description
Gitlab, like github, but not in bigquery

## Procedure
- [ ] Scrape the website
- [ ] Formulate appropriate filters if at all we want to.
- [ ] Processing and formatting.
- [ ] lm_dataformat Processing

[2022-09-14 15:11] aaronrmm opened #5 "Bitbucket diffs"
## Bitbucket has an API for public repos

Dataset URL - None

Does the dataset exists in a scraped format ? No (searched using google, papers with code, and kaggle).

## Description
Bitbucket is far less popular for open source git repos, but does have them, and does provide an API for querying and filtering them. Because there are no stars in bitbucket as there are in github, we would have to app

[2022-09-14 15:13] reshinthadithyan commented on #1
@flowpoint, Look at this https://github.com/EleutherAI/stackexchange-dataset

[2022-09-14 16:00] flowpoint commented on #1
i know about the similar scripts by collin and sdtblck
we surely can merge and improve their functions, i try to write modular code anyway
i've gone ahead and written less scripty code in #6
have a look and feel free to merge/comment
it strongly sounded, like we're assigned to the stackexchange data and still have to watch out with coordination and consolidation to prevent further duplicated work

[2022-09-14 16:17] PhungVanDuy opened #7 "Programming Contest Sites"
## Title

Dataset URL - Collect Dataset from Programming Contest Sites
Does the dataset exist in a scraped format?   Exists some resources available like [CodeContest](https://huggingface.co/datasets/deepmind/code_contests)  From DeepMind, [APPS](https://github.com/hendrycks/apps), LeetCode.

## Description
Code Data from Competitive Programming Pages is a high-quality resource for code generation

[2022-09-14 16:52] dmahan93 opened #8 "Leetcode"
## Leetcode

Dataset URL - [here](https://leetcode.com/problemset/all/)

Does the dataset exists in a scraped format ?   No
URL if Yes - [here]()

## Description
Leetcode contains many computer science programming questions with a rich community to share solutions and discuss the problem

## Procedure
- [ ] Scrape the website
- [ ] Formulate appropriate filters if at all we want to.
- [ ] Processi

[2022-09-14 17:05] dmahan93 commented on #1
Additional stack exchanges that don't fall under technology that may be useful:

https://cs.stackexchange.com/
https://cstheory.stackexchange.com/
https://opensource.stackexchange.com/
https://cseducators.stackexchange.com/

[2022-09-14 18:05] Dahoas commented on #7
Seems like [CodeContest](https://huggingface.co/datasets/deepmind/code_contests) is missing [TopCoder](https://www.topcoder.com/) so perhaps we should scrape TopCoder ourselves. Also [Hackerrank](https://www.hackerrank.com/)

[2022-09-14 18:09] Dahoas commented on #8
Does this fall under issue #7?

[2022-09-14 18:53] tmabraham commented on #1
@reshinthadithyan Just some details about StackExchange archives based on my experience with the Code Review project.

The StackExchange archives are saved as XML files which can be hard to work with so we converted them to JSON files with [this script](https://github.com/CarperAI/CodeReviewSE/blob/main/xml_to_json.py).

The formatting of code is a little weird so I manually added `<code>` tags:
h

[2022-09-14 18:57] tmabraham commented on #1
Other websites to potentially include:
* Super User
* Tex - LaTeX
* Unix & Linux
* Information Security
* Database Administrators
* Artificiall Intelligence
* Data Science
* Blender
* Emacs
* VI and Vim
* Internet of Things
* Quantum Computing
* Computer Graphics
* DevOps

[2022-09-14 19:11] dmahan93 commented on #8
Closing since this is covered by #7

[2022-09-14 19:11] #8 closed

[2022-09-15 01:28] ncoop57 commented on #1
There is this scraping script that might be useful: https://gist.github.com/craffel/a1e2aff893776d0ef2b0a95ed0fd7e7a

[2022-09-15 03:53] taisazero opened #11 "Reddit"
## Programming & Computing Sub-Reddits

Dataset URL - [awesome list of programming subreddits](https://github.com/iCHAIT/awesome-subreddits) [Code Pile Spreadsheet](https://docs.google.com/spreadsheets/d/1OrOnv-Cv1wRq0jNk4AegHiMtLk88YQDz5b1TP-o5SE8/edit#gid=1020850625)

Does the dataset exist in a scraped format ?

No, we need to format them into a dialogue format.

## Description

## Procedure
*

[2022-09-15 03:57] taisazero opened #12 "Programming and Computing Books"
## Open Access and Free Programming and Computing Books

Dataset URL - [Computing Wikibooks](https://en.wikibooks.org/wiki/Department:Computing). We can download the dump [here](https://dumps.wikimedia.org/enwikibooks/20220901/) and filter for computing wikibooks.
[Free Computing Books](https://github.com/EbookFoundation/free-programming-books) -- not sure if the books on here are safe to use we n

[2022-09-15 05:29] reshinthadithyan commented on #1
Looked at https://gist.github.com/craffel/a1e2aff893776d0ef2b0a95ed0fd7e7a. This script processes questions and answers into a stream of paras. Which is a good post-processing exercise for modeling. But I guess for us, retaining upvotes and other metadata makes a lot of sense for cataloging as an intermediate. I guess we can go ahead with adapting @tmabraham's CodeReviewSE(https://github.com/Carpe

[2022-09-15 11:12] PhungVanDuy commented on #7
Yes, I will try to crawl data if needed. Thank you, that's a good point!

[2022-09-15 11:52] Dahoas commented on #7
No worries I have a topcoder crawler!

[2022-09-15 11:54] PhungVanDuy commented on #7
Great! Any PR?

[2022-09-15 12:07] PhungVanDuy commented on #7
Just check HackerRank and LeetCode, programming problem we can scrape but code solutions it's seems not available.

[2022-09-15 13:06] LouisCastricato commented on #5
Great idea!

[2022-09-16 00:22] taisazero commented on #11
Cheesy#0202 (Me) Working with jesse#7865 and Eleuther to obtain Pushshift Reddit data.

[2022-09-16 00:23] taisazero commented on #12
Who wants to work on this with me? We need help from scarpers

[2022-09-16 09:41] reshinthadithyan commented on #1
The dump for each site has the following files, `Badges.xml, PostHistory.xml, Posts.xml, Users.xml, Comments.xml, PostLinks.xml, Tags.xml, Votes.xml`. We'll want to process the entire site dump into a file,
## Preprocessed Format:
`SitePost.json` - Wherein the entire site's posts are dumped here. `post_id` is the key and all the related `comments`, `answers`, and `user_infos` of users interacting

[2022-09-16 10:40] PhungVanDuy commented on #7
@Dahoas  any update on crawling Topcoder?

[2022-09-16 11:30] PhungVanDuy commented on #7
DeepMind CodeContest Dataset is available under EleutherAI/lm_dataformat. Each document included: the problem description, test cases, solutions, and incorrect solution code.

Please check this [link](https://drive.google.com/drive/folders/1pugBrWnxFoHXCsrNDHiPfhxdIuF3eVLW?usp=sharing).

[2022-09-16 19:30] ncoop57 commented on #1
Yeah, we can go ahead and store in this format while we finalize the final lm_dataformat

[2022-09-16 20:17] dmahan93 commented on #4
https://docs.gitlab.com/ee/api/

it has an API available, and includes diffs: https://docs.gitlab.com/ee/api/commits.html#get-the-diff-of-a-commit

[2022-09-16 20:24] ncoop57 opened #13 "Intermediate Data Storage Format"
Questions:
* How do we want to store data in an intermediate format before moving it to the lm_dataformat that uses json lists?
* Do we even want an intermediate data format?

Let's use this issue to discuss this topic.

Resources:
* https://www.databricks.com/glossary/what-is-parquet#:~:text=What%20is%20Parquet%3F,handle%20complex%20data%20in%20bulk.
* https://arrow.apache.org/

[2022-09-17 03:41] taisazero commented on #13
For datasets that we need to process such as filtering, dedup, and near dedup before using lm_format. Using arrow or a similar intermediary format like parquet would allow the process to be faster and more efficient. Are there any datasets that do not need to be processed/filtered?

[2022-09-17 05:58] PhungVanDuy commented on #12
@taisazero  let me work on this one. Can you update your current status?

[2022-09-17 20:07] taisazero commented on #12
Perfect! We can work on it together perhaps. I haven't started to be honest. We can coordinate on Discord. Tag @Erfan in the CarperAI discord #code-pile. @PhungVanDuy

[2022-09-17 21:59] ncoop57 commented on #13
Ones that are probably already included from a paper or on huggingface we wouldn't need to process

[2022-09-17 22:15] faraday commented on #7
@PhungVanDuy For LeetCode, maybe we can scrape solutions from discussions, filtering by votes.
This issue is set to track multiple contest sites. It maybe a better idea to track separately if we are to do post-processing.

[2022-09-18 02:29] PhungVanDuy commented on #7
That's a good idea. Let me check it. Thank you so much!

[2022-09-18 10:03] flowpoint commented on #1
I've come up with this intermediate document structure oriented around a stackexchange site/document/thread.
It erases quite some fields.
Some because they look too granular/ unmatchable with other datasets (like votes).
Other ones, like Edit-history are nontrivial and can be considered later.
Dates are kept for distribution analysis.

[dump data schema for reference](https://meta.stackexchange.co

[2022-09-18 15:14] PhungVanDuy commented on #12
Books dev branch: https://github.com/CarperAI/Code-Pile/tree/books_dataset

[2022-09-18 15:22] ncoop57 commented on #11
To find relevant reddit communities, we can look at awesome lists: https://github.com/learn-anything/reddit#linux

[2022-09-18 15:33] ncoop57 opened #14 "Postprocessing and Formatting of Datasets"
This issue focuses on collecting ideas and formalizing the postprocessing steps and formatting of data instances for datasets in different categories, e.g., forums, articles, books, etc.

Initial draft of postprocessing:
1. Exact duplication removal
2. Near duplication removal
3. Removal of specific html tags

Questions for formatting:
1. How to format forums?
2. How to format general website arti

[2022-09-19 00:58] vanga commented on #1
I am working on denormalising the data.
Below is a denormalized sample with just the relations mentioned by @flowpoint above. I haven't excluded any columns from any table. Eventually, we would only want some columns to be included in the final output.

https://gist.github.com/vanga/b1f1a4a6d82accd69ba35c0f33b76435

Excluded relations: Votes, Badges, PostHistory, PostLinks
If we need to include al

[2022-09-19 13:46] Jehoshaph opened #16 "UseNet"
## UseNet

Dataset URL - ~~[UsenetArchives](https://www.usenetarchives.com/?c=comp.&p=1) and~~ [InternetArchive](https://archive.org/details/usenet)

Does the dataset exists in a scraped format ?   No

## Description

## Procedure

- [x] Download appropriate dumps
- [x] Cleanup and de-duplicate ([Example](http://www.psych.ualberta.ca/~westburylab/downloads/usenetcorpus.download.html))
- [x] ~~Tag

[2022-09-19 15:38] ncoop57 opened #17 "Mailing Lists"
## Title

Dataset URL -
* [git](https://git-scm.com/community)
* [python](https://www.python.org/community/lists/)
* [mailing list archives](https://www.mail-archive.com/)

Does the dataset exists in a scraped format ?   No

## Description
In general.
(Almost) every programmer uses a programming language, huge swathes of programming are organized around these languages
Most of these languages have

[2022-09-19 15:45] Jehoshaph commented on #16
Working on the cleanup and de-duplicate scripts

[2022-09-19 22:30] taisazero commented on #11
Currently obtaining dayta pogchamp!

[2022-09-20 20:58] flowpoint commented on #13
Parquet through pyarrow would be quite good. I want to use it between processing steps also anway.

[2022-09-21 08:56] PhungVanDuy commented on #12
@taisazero  New dev folk here: https://github.com/PhungVanDuy/Code-Pile/tree/books_dataset

Updated dataset keep code block [this](https://drive.google.com/drive/folders/1pbogfVNhh-ZOpOeM_urbnA4QThF9yBKs?usp=sharing)

Next steps I will work  on [free-programming-books](https://github.com/EbookFoundation/free-programming-books) is that okay?

[2022-09-21 09:32] reshinthadithyan opened #18 "Google Code Jam Project - Archive"
## Google Code Jam Project - Archive

Dataset URL - [here](https://github.com/Jur1cek/gcj-dataset)

Does the dataset exist in a scraped format?
Yes - [here](https://github.com/Jur1cek/gcj-dataset)

## Description
Google Code Jam is one of the most famous programming contests conducted with large scale participation

## Procedure
- [x] Add Downloader
- [x] Decompress `.bz`
- [x] post-process

[2022-09-21 10:02] imr555 commented on #4
Is anyone working on this?

Currently started working on it.

Using the (https://python-gitlab.readthedocs.io/en/v3.9.0/index.html) API for this. It's a python wrapper on the official Gitlab API.

**Presently Ongoing:**

At present running a preliminary python script which will provides us 89 keys of all public repositories and save them all as CSV. It might take some time as there are a lot of re

[2022-09-21 12:27] ncoop57 opened #19 "Gitter Discussions"
## Title

Dataset URL - [here](https://gitter.im/explore/tags/?action=explore&source=homepage)

Does the dataset exists in a scraped format ?   No

## Description
Gitter is a chat and networking platform that helps to manage, grow and connect communities through messaging, content and discovery.

It has a rich set of discussions around specific topics such as [Docker](https://gitter.im/docker/dock

[2022-09-21 12:37] ncoop57 opened #20 "Zulip Discussions"
## Zulip Discussions

Dataset URL - [here](https://coq.gitlab.io/zulip-archive/)

Does the dataset exists in a scraped format ?   No

## Description
Zulip is a real-time chat application for self-hosting or cloud based discussions of various communities.

There are many CS and SE communities that use Zulip for discussions such as [coq](https://coq.gitlab.io/zulip-archive/).

## Procedure
- [ ] See

[2022-09-21 13:17] ncoop57 commented on #4
@imr555 Looks awesome and you are the first person working on it! Thank you for contributing!! The game plan makes sense, especially filtering by stars, though I don't think we should set this too high, maybe keep repos that are > 2 stars. We should also filter based on license type, which might require checking the LICENSE file and parsing it as it doesn't look like there are any keys with that i

[2022-09-21 13:47] imr555 commented on #4
@ncoop57

Yeah. I haven't still started on the game plan yet.
We can start on the star_count filtration once we have the CSV.

I just called the gl.projects.list() API which claims that they can return all public repos under a certain Authentication Key(personal access token). I am using the authentication key created on permissions on Gitlab based on this (https://docs.gitlab.com/ee/user/profile/

[2022-09-21 18:00] taisazero commented on #12
Yes, that's perfect! Whenever you're ready make a PR for Wikibooks though! Do you want to work on PDFs or websites first?

[2022-09-21 20:23] ncoop57 commented on #4
Feel free to open an PR with your current script (make sure **not** to include your API key :) ) . That way ppl can easily contribute before the working branch gets too far away from your local code.

[2022-09-21 20:26] ncoop57 opened #21 "Discourse Forums"
## Discourse Forums

Dataset URL - [here](https://meta.discourse.org/t/listing-of-all-discourse-forums/113669)

Does the dataset exists in a scraped format ?   No

## Description
Discourse is a self-hosting platform for communities to create discussions around a particular topic. They include threads of posts and an eco system to discuss a particular topic.

## Procedure
- [ ] Find a good way of i

[2022-09-21 20:59] ncoop57 commented on #21
One thing we can do is look at common crawl for *.discourse.group as that is a commonly used url for these communities. There are a lot of other ones tho, so getting those will be a challenge. The dataset URL link I added has a thread on where we might find a large index of all sites using discourse.

[2022-09-21 21:03] ncoop57 commented on #16
@Jehoshaph Might be better to just directly use the existing usenet dump that you linked or this uncleaned version they mention: https://aws.amazon.com/datasets/the-westburylab-usenet-corpus/.

Is there any other dedup/cleanup steps you want to run?

[2022-09-22 00:47] ncoop57 commented on #21
Some more communities: https://www.communitystack.com/communities/

[2022-09-22 01:08] ncoop57 commented on #12
Wow this is freaking fire!!!!! I'm so excited for this subset 🤓

[2022-09-22 03:17] imr555 commented on #4
Thank You. I will open a PR on the working branch then.

[2022-09-22 04:42] PhungVanDuy commented on #12
PR: https://github.com/CarperAI/Code-Pile/pull/22

@taisazero @ncoop57  please review and give me a comment, maybe I miss something about the code structure for our CodePile project. It's will help me improve my later PR.

[2022-09-22 04:44] PhungVanDuy commented on #12
@taisazero  Do you have any priority list to work on? I have planned on this [free-programming-books](https://github.com/EbookFoundation/free-programming-books) for PDF first, but if you have any priority list it would be great.

[2022-09-22 07:23] Jehoshaph commented on #16
A couple of potential issues with that dataset. They still haven't responded to my request for access to the dataset.

1. Their dataset only covers 2005 - 2010. The archives on Internet Archive go back to 1997.
2. "Documents that contained less than 90% English words were omitted. (English words were defined as words that are contained in a 100,000 words dictionary of english)." - I don't know if

[2022-09-22 12:55] ncoop57 commented on #16
@Jehoshaph

ah okay, thanks for clearing that up. Yeah in that case, it makes sense to do it ourselves

[2022-09-23 07:04] PhungVanDuy commented on #7
I just figure out the way to crawl data from Topcoder:

Note below:

1. Access this link to get all problem statements: https://www.topcoder.com/tc?module=ProblemArchive
2. With one problem, go down we will see the link lead to the contest that problem belongs to (see image 1)
<img width="1189" alt="Screen Shot 2022-09-23 at 14 44 16" src="https://user-images.githubusercontent.com/28798474/1919056

[2022-09-23 08:24] vanga commented on #13
Converting the xml and storing them in parquet would be pretty useful and efficient. parquet offers much better data compression and stores data in column format, so its faster to load as pandas objects and do other computations, joins etc on top of it.

As we iterate multiple times on different possibilities of post processing, being able to load fast would be useful.
Example difference in sizes

[2022-09-23 10:21] imr555 commented on #4
@ncoop57

I will open a PR by the end of today.

Just updating on a few facts before that.

It seems the python-gitlab API does not do well at scale. It can only process 400 requests per minute.

So, hacked together a solution using some popular concurrent python libraries like async and aiohttp. (Sidenote: Don't know if Javascript or Rust might be better suited for this. Not well versed in them s

[2022-09-23 12:36] ncoop57 commented on #7
It looks like we need to email them to see there full policy. @PhungVanDuy Lemme contact someone to see how we can reach out to them about this

[2022-09-23 12:52] PhungVanDuy commented on #7
Great! Meanwhile I still do crawl this one Louis suggest in bad cases we can index but keep data for us to finish First Version of Competitive Programming Dataset.  Thanks

[2022-09-23 13:36] faraday commented on #7
I started working on LeetCode.

[2022-09-23 19:21] PhungVanDuy commented on #7
@ncoop57 PR  https://github.com/CarperAI/Code-Pile/pull/24 for TopCoder scrape dataset, I need to run on batches to get full data, and integrate with CodeContest before then.

[2022-09-23 19:35] PhungVanDuy commented on #18
Let me take this one also, this same type with Competitive Programming Dataset that I am working on. https://github.com/CarperAI/Code-Pile/issues/7

[2022-09-23 19:38] faraday commented on #8
I'm working on this (as noted at #7 )

[2022-09-23 19:47] imr555 commented on #4
@ncoop57

Last update before Actually uploading the script.

You were right. There seems a limitation for gitlab requests like gitlab allows one to perform at most 2000 requests per minute.. If we request more than that we get a 429(Too many connections). So It might be good if we can get multiple private tokens and run it from different machines.
To scale it.

[2022-09-24 11:41] PhungVanDuy commented on #12
Besides the resource from github link above, I will try to get book from [BookSC](https://vi.b-ok.asia/s/programming?). If have any problem about license we just index not release.

[2022-09-24 19:44] aaronrmm commented on #5
This is annoying:
https://community.developer.atlassian.com/t/cant-filter-public-repos-with-bitbucket-api/61919

[2022-09-24 19:46] LouisCastricato commented on #5
Any ideas on how to fix this?

[2022-09-24 22:54] aaronrmm commented on #5
I can pull it all down unfiltered. Or all repos since a certain timestamp. Otherwise, no.

[2022-09-25 00:43] aaronrmm commented on #5
...which is what I'm currently doing.

[2022-09-25 22:59] ncoop57 commented on #4
@imr555 makes sense, could you also set a cool down to your script that does like 90% of allowed requests and then waits the necessary timeout before restarting?

[2022-09-25 23:03] ncoop57 commented on #5
Are there any existing indexes we could use? @aaronrmm

[2022-09-26 00:51] ncoop57 commented on #1
@reshinthadithyan  and @vanga  please make sure to add this information to the issue description:

## Tests

Include a dummy_dataset.parquet file to test your code against. This dummy_dataset should include the columns for the data and metadata associated with the dataset, which will then be converted into the final format for language model consumption, along with an example row or rows that you

[2022-09-26 00:52] ncoop57 commented on #11
@taisazero please add this information to the issue description:

## Tests

Include a dummy_dataset.parquet file to test your code against. This dummy_dataset should include the columns for the data and metadata associated with the dataset, which will then be converted into the final format for language model consumption, along with an example row or rows that you can verify your code correctly co

[2022-09-26 00:52] ncoop57 commented on #12
@PhungVanDuy and @taisazero please the following information to the issue description:

## Tests

Include a dummy_dataset.parquet file to test your code against. This dummy_dataset should include the columns for the data and metadata associated with the dataset, which will then be converted into the final format for language model consumption, along with an example row or rows that you can verify

[2022-09-26 00:53] ncoop57 commented on #7
@PhungVanDuy @faraday @Dahoas please add the following information to the issue description:

## Tests

Include a dummy_dataset.parquet file to test your code against. This dummy_dataset should include the columns for the data and metadata associated with the dataset, which will then be converted into the final format for language model consumption, along with an example row or rows that you can v

[2022-09-26 04:37] imr555 commented on #4
@ncoop57

Cool idea.

We added that. In case of async. It's actually quite simple... If we add async.time(29). It performs a thousands requests per half minute(29 seconds wait, 1 second for request and processing), it seems. So we manage to get 2000 requests per minute to happen. We will update this once ours post processing takes more time

We are still collecting the names of the high star githu

[2022-09-26 08:02] PhungVanDuy commented on #7
@ncoop57 Happy to share that the Competitive Programming Dataset for Code Pile is finalized the first version included CodeContest (train dataset only to prevent fairness in the later benchmark) and TopCoder, which totally we have 18267 problems with solution code, with CodeContest we also have incorrect solutions as well. I believe this is the largest CP dataset currently. I pushed the parquet fi

[2022-09-26 12:18] reshinthadithyan commented on #1
@ncoop57, https://github.com/CarperAI/Code-Pile/issues/1#issuecomment-1257333026 This should be a separate issue so that people are aware of it. I'm adding the same in the Issue template.

[2022-09-26 12:24] ncoop57 commented on #7
@PhungVanDuy awesome job Duy! One thing though, when you store the data in parquet files, please store the metadata as separate columns instead of in the HTML-style tags as the parquet is an intermediate storage for now until it gets converted into the final jsonl format to be fed to the large language model. So, for example, the parquet should have a format like this:

| title | source | tags | d

[2022-09-26 12:33] PhungVanDuy commented on #7
@ncoop57 I got it, so do you want me to make lm_dataformat for html-styles also besides parquet like above?

[2022-09-26 12:34] ncoop57 commented on #7
not quiet yet @PhungVanDuy as during our weekly meeting we are going to finalize the format, so it might change slightly

[2022-09-26 12:38] PhungVanDuy commented on #7
Got it, no worries I have the function on code to make HTML so we can easy to change.

P/S: Hint is a new field that I combined from my research before (I collected tutorials from Codeforces and write in latex form), we can note this field to explore how tutorials affect models later.

[2022-09-26 18:22] PhungVanDuy commented on #7
@ncoop57  Updated files at this [link](https://drive.google.com/drive/folders/1FZ0yCNRReTSujvkPf6mqLwF3J76QYvo6?usp=sharing), I also refactor CP Dataset (without scrape on this file, just fetch dataset from Gdrive), only Topcoder is had scraper code. I also added unittests.py file and dummy data.

[2022-09-27 01:31] PhungVanDuy opened #28 "Google AI4Code – Kaggle"
## Title
Google AI4Code – Understand Code in Python Notebooks

Dataset URL - [here](https://www.kaggle.com/competitions/AI4Code/data)

Does the dataset exists in a scraped format ?
URL if Yes - [here](https://www.kaggle.com/competitions/AI4Code/data)

## Description
The dataset comprises about 160,000 Jupyter notebooks published by the Kaggle community. Jupyter notebooks are the tool of choice for

[2022-09-27 09:58] PhungVanDuy commented on #28
PR: https://github.com/CarperAI/Code-Pile/pull/29

cc @ncoop57  @reshinthadithyan

[2022-09-27 18:59] jbaicoianu commented on #21
I've started writing a crawler for Discourse servers, using scrapy to fetch the JSON API and save all of the post data to the filesystem.  It works by taking a list of discourse server URLs (the longer the better), and will use the "latest posts", "top posts" and "categories" lists to start walking through the full database of topics.  I'm currently not doing any filtering, but we can add whatever

[2022-09-27 23:42] herbiebradley opened #31 "GitHub Diffs"
## GitHub Diffs

## Description

Dataset is on BigQuery as a table of commit hashes and messages.

## Procedure

From commit hash and message, produce dict containing:
- Raw Python files before changes (skip non-Python files)
- Commit message
- Diff file (containing only Python changes)

This requires for each commit, downloading the files after changes and applying the reverse patch to obtain the

[2022-09-27 23:43] herbiebradley commented on #5
If you can get the commit message and hash then it should be simple to adapt the code at #31 to fit Bitbucket.

[2022-09-28 00:27] jbaicoianu commented on #21
This query returns around 8400 results for various communities that run Discourse. Definitely needs filtering to narrow down to just code-related ones.

https://www.google.com/search?q=%22Moderators+have+special+authority%3B+they+are+responsible+for+this+forum.+But+so+are+you.+With+your+help%2C+moderators+can+be+community+facilitators%2C+not+just+janitors+or+police.%22

[2022-09-28 01:59] reshinthadithyan commented on #31
What will be the filtering criteria for repositories we're going to index for scraping diffs?
[code]
cc @ncoop57, @herbiebradley

[2022-09-28 10:53] herbiebradley commented on #31
Yes, these seem like sensible criteria, I think that should be everything we need.

[2022-09-28 12:52] reshinthadithyan commented on #31
By length criteria, do you mean the Length of `commit_message`?
If that's the case, the Table has `commit message` column, we can query with length constraints.

[2022-09-28 13:41] herbiebradley commented on #31
I meant the length of the combined data, but after checking with Louis we decided this doesn't need to be filtered because the constraint is too highly variable and model-dependent.

So the criteria you mention above should be fine alone.

[2022-09-28 17:54] reshinthadithyan commented on #18
@PhungVanDuy, are you taking this up ?

[2022-09-28 19:27] herbiebradley commented on #31
Updated to remove Python specific stuff, to allow for scraping all languages.

[2022-09-28 21:53] ncoop57 commented on #31
We also need to only include diffs that modify files not delet files or create new ones. We should also filter unhelpful commit msgs such as ones with less than a few words

[2022-09-28 22:31] herbiebradley commented on #31
Discussed this with Joel and we think that at least diffs which create files could be useful at some point in the future and potentially those which delete files too - not necessarily for ELM replication but for training refactoring models. Since this dataset could be used on several possible projects, I think it will help long term to not remove these from the scrape.

Filtering out unhelpful com

[2022-09-28 23:06] PhungVanDuy commented on #18
@reshinthadithyan checked it but this data missed problem description, we need to write crawler to get it. I still not have time for this, I am working with books for a while, but I will back for this soon.

[2022-09-29 07:11] PhungVanDuy commented on #18
@reshinthadithyan checked more detail today, so https://github.com/Jur1cek/gcj-dataset this dataset crawled from https://code.google.com/codejam/contest/ but currently this site have down, so Google code jam move to a new page https://codingcompetitions.withgoogle.com/codejam we need to write new crawler. I will write it, asap.

[2022-09-29 14:34] PhungVanDuy commented on #7
@faraday  you can make some updates about LeetCode here to keep tracking.

[2022-09-29 14:46] faraday commented on #7
Here are some statistics about the LeetCode data:

- Questions: 2421 records (7.8 MB as JSONL, 1.2 MB bzipped)
- Discussion topics (pseudo-solutions): 2351568 records (3.2 GB as JSONL, 405 MB bzipped)
- Comments: 525802 records(430 MB as JSONL, 46 MB bzipped)
- Comment replies: 293361 records (222 MB as JSONL, 26 MB bzipped)

I have used asyncio and aiohttp in scraping code but server-side rate li

[2022-09-29 14:51] faraday commented on #7
As an example, *Two Sum* has around 11k related topics, many of them people sending their solutions in different languages (probably covering most of programming languages). If we are to represent topics as solution list together with the question, I don't think databases could cope well with that. We'll discuss more about this, noting it here. We should probably aim for representing it as Forum a

[2022-09-29 16:31] aaronrmm commented on #5
I can get message, hash, diff, author, date, patch, parent commit. Which I think is everything needed. Currently am grabbing all the commit hashes for all the repos.

[2022-09-30 03:53] PhungVanDuy opened #32 "LinusTechTip Programming Forum"
## Title

Dataset URL - [LinusTechTip](https://linustechtips.com/forum/20-programming/)

Does the dataset exist in a scraped format?   No

## Description
This well-known programming forum, just scanned there have more than 10.000 topics from 2013

## Procedure

- [ ] Attempt to scrape topics from https://linustechtips.com/forum/20-programming/
- [ ] Cleaning, duplicate, formating
- [ ] Convert to

[2022-09-30 16:08] PhungVanDuy commented on #4
@imr555  do you have any update on this? May I can make help if you need it, GitLab data is quite important for our scale.

[2022-10-02 06:19] PhungVanDuy commented on #5
Hi everyone, in term of code from repos, I just managed to get all public repositories from Bitbucket through their APIs,  their API is limited call (1000 / hours), I have used Kaggle to create multiple notebooks (different IPs) to get it, and finally, I got progress on this. To summarize, I got 1261420 repos from bitbucket that we can download, I attached here a sample of the data, the full datas

[2022-10-03 14:01] imr555 commented on #4
@ncoop57  @PhungVanDuy  So we ran the gitlab script. It captured base info of the 38 keys mentioned in https://github.com/CarperAI/Code-Pile/issues/4#issuecomment-1253481991.

There are around 694400 public repos, it seems. The script searched among 8353643 repos it seems.According to the repos , it seems there are no more repos after that.

So, we think we can move forward with gathering what is

[2022-10-03 14:17] PhungVanDuy commented on #4
I think it is code/license files if we have from the repo, also Gitlab Diff like this issue (https://github.com/CarperAI/Code-Pile/issues/31). @ncoop57 please consider this one and my bitbucket data at https://github.com/CarperAI/Code-Pile/issues/5#issuecomment-1264563142.

[2022-10-03 14:24] PhungVanDuy commented on #4
great progress, thank you so much. Can you share your script as well?

[2022-10-03 14:50] imr555 commented on #4
Yeah sure. @PhungVanDuy

I can give you a rundown if necessary.

Apologies, I totally forgot the Discord Message.

Apparently they didn't let me upload it as .py file so I zipped it.
[gitlab_scr_pagi_E_R.zip](https://github.com/CarperAI/Code-Pile/files/9698484/gitlab_scr_pagi_E_R.zip)

Also, lemme know If I should upload the repo details somewhere. It's around 2.9GB. I saved the details as jsons f

[2022-10-04 12:27] PhungVanDuy opened #33 "Google Code Archive"
## Title

Dataset URL - [here]()

Does the dataset exist in a scraped format?
No

## Description
The Google Code Archive contains the data found on the Google Code Project Hosting Service, which was turned down in early 2016.

This archive contains over 1.4 million projects, 1.5 million downloads, and 12.6 million issues. You can learn more about the data served from Google Cloud Storage [here](ht

[2022-10-04 19:41] ncoop57 commented on #4
@imr555 thank you so much for this!! For the repo details, please upload them to s3 or if you don't have access to s3, maybe gdrive and @PhungVanDuy can move it to s3 once he gets permission.

Uh weird that you can't upload your script. What is the issue you are getting trying to push the file? I'd like to have this work as a PR when you get a chance and some unit tests and dummy data to evaluate

[2022-10-04 19:42] ncoop57 commented on #5
epic @PhungVanDuy!!! though it might be worth opening up a completely separate issue with this info since this issue I think is specifically only for diffs.

[2022-10-05 01:40] PhungVanDuy opened #34 "Bitbucket Code"
## Title

Dataset URL - [here](https://bitbucket.org/)

Does the dataset exist in a scraped format?
URL if Yes - [here](https://drive.google.com/file/d/13QsJRhhpL64m3jhsH4up0CBtxDIalO-A/view?usp=sharing)

## Description
Got 1261420 repos from bitbucket that we can download. This data included: ['type', 'full_name', 'links', 'name', 'slug', 'description', 'scm', 'website', 'owner', 'workspace', 'is

[2022-10-05 01:41] PhungVanDuy commented on #5
Thank you for suggestion I just create the new one issue https://github.com/CarperAI/Code-Pile/issues/34

[2022-10-05 04:45] imr555 commented on #4
@ncoop57 , @PhungVanDuy

I will open a PR and push the script then. With a few  dummy tests as you said.
And Actually I am on the road for the next two days. Some personal stuff. So I don't have access to my laptop. I will upload the data and open a PR after I am back.

Apologies for the inconvenience

[2022-10-05 07:54] imr555 commented on #4
@ncoop57  @PhungVanDuy

Link:
https://drive.google.com/drive/folders/1j9MC0dbmP0oE1rrefzF7ULEMw9OoG9Pu?usp=sharing

The data.zip folder in the link contains the repo details of each public repo.

gitlab_scr_pagi.py  was the script used to generate the data. The code's a bit of a mess. I will refactor it and send a PR.

By the way, if you guys need help on anything else or any other data sources(is

[2022-10-05 07:56] PhungVanDuy commented on #4
Great! I will check it.

[2022-10-06 14:13] vanga commented on #1
For anyone working on this, current version of the dumps seem to be [corrupted](https://meta.stackexchange.com/questions/382654/issues-decompressing-the-october-2022-dump)
Old version can be found here https://archive.org/details/stackexchange_20220606

[2022-10-06 20:55] ncoop57 opened #35 "GitHub Issues"
## Title

Dataset URL - [here](https://huggingface.co/datasets/lewtun/github-issues)

Does the dataset exists in a scraped format ?
URL if Yes - [here](https://huggingface.co/datasets/lewtun/github-issues)
Only for HF datasets repository

## Description
GitHub Issues are bug reports, feature requests, and discussions related to a repository. It contains text in a special GitHub markdown format and

[2022-10-07 11:36] PhungVanDuy commented on #18
Added Google Code Jam to Competitive Programming Dataset, check it at https://github.com/CarperAI/Code-Pile/pull/24/commits/b7562e99dbfeb180ff743cd593a211d2ea5bfc35
cc @reshinthadithyan  @ncoop57

[2022-10-09 14:43] ncoop57 opened #37 "Data Processing"
We should follow a similar process to the BigScience workshop's dataset processing. They include many of the tools ready for us to use such as data deduplication, both exact match and near dedup, filtering of low information content  examples, removal of potentially hateful documents, and removal of PII.

They have all their tools available and discussions of them here: https://github.com/bigscien

[2022-10-10 02:16] PhungVanDuy commented on #37
New repo: https://github.com/bigscience-workshop/data-preparation/tree/main/preprocessing/training

[2022-10-10 16:05] PhungVanDuy commented on #37
@ncoop57
Filtering: https://github.com/bigscience-workshop/data-preparation/blob/main/preprocessing/training/01b_oscar_cleaning_and_filtering/filtering.py
Deduplicated: https://github.com/bigscience-workshop/data-preparation/blob/main/preprocessing/training/01b_oscar_cleaning_and_filtering/deduplicate/self_deduplicate.py
PII: https://github.com/bigscience-workshop/data-preparation/blob/main/prepro

[2022-10-11 19:13] PhungVanDuy commented on #37
@ncoop57 I created a simple one script to take the code from the source above for Wikibooks dataset, it just needs to get the parquet file and run filtering and dedup, I pushed it here https://github.com/PhungVanDuy/Code-Pile/tree/books_dataset/codepile/enwikibooks/data_process_pipeline.

Please review the threshold if you guys want to use it for your dataset.

[2022-10-12 16:30] ncoop57 commented on #28
Resolved in #29

[2022-10-12 16:30] #28 closed

[2022-10-12 16:31] ncoop57 commented on #18
Resolved in #24

[2022-10-12 16:31] #18 closed

[2022-10-13 18:13] flowpoint opened #39 "Standardize Testing, Datatests, Unittests, Integration-Tests"
Discuss, standardize and track how we want to test the submodules of the Code-Pile here.

[2022-10-13 18:25] flowpoint commented on #39
Atm. we tend towards using pytest through github actions.
We want some sample input data and the target output data, for each Processor.
One current way, would be to use parquet files with some "dummy data" to test against our intermediate data.

Having both real testdata and some edge case synthetic testdata would be best.
For example, real testdata to ensure question and answer pairs are still m

[2022-10-14 20:18] CamdenClark commented on #34
I got started here using the google drive parquet file, but ran into some questions before I could make much more progress.
[code]

1. The original Pile dataset from github used stars as a way to filter out low-quality repositories. Bitbucket doesn't really have anything comparable, they do have the concept of "watchers," though. Do we care about doing this level of filtering?
2. How do we know if

[2022-10-14 20:58] PhungVanDuy commented on #34
Hi @CamdenClark,

Thank you for your consideration to pick this one.
1. Currently we do not start this one yet, so about filtering we still have not decided how to filter the repo, using `watchers` is a good idea but I also think about filtering the repo with very small watchers, just one thing that I concern is compared with Github,  bitbucket source code is more personalize and number repo will

[2022-10-14 21:15] CamdenClark commented on #34
Thanks for a quick response! I will focus on gitlab then instead.

[2022-10-15 04:50] CamdenClark commented on #4
I made some progress on this today.

1. I filtered the data in the `data.zip` provided above to get all repos with 2 or more stars. This ends up being about 10000 rows.
2. I found this endpoint (https://docs.gitlab.com/ee/api/projects.html#get-single-project) which allows you to pull down individual license information for a file. There are 2397 repos on gitlab with 2 or more stars that are permis

[2022-10-15 05:53] PhungVanDuy commented on #4
It looks great! Do you have any problem with the limitation of Gitlab API?
Let me know if you need any help from us e.g. when you run batch download we can setup on our server.
Thank you so much for your work.

I just have question that permissively_licensed_repos.csv is ran on all repos that we have? >5000 repos with permissively licensed quite small.

[2022-10-15 05:56] CamdenClark commented on #4
Gitlab API was slow but the order of magnitude of the data is small enough to make it work. I'll shoot you a message tomorrow to get set up for batch download.

Happy to help, this is an incredible project!

[2022-10-15 05:56] CamdenClark commented on #4
permissively_licensed_repos.csv is all repos with permissive licenses and 2 or greater stars. there are very few repos with 2 or greater stars alone (only around 10k)

[2022-10-15 05:57] PhungVanDuy commented on #4
Can you try to run on all repos don't care about stars, in terms of user behaviors, Gitlab is quite different compared with Github.

[2022-10-15 05:57] CamdenClark commented on #4
Yeah I can set that up tonight.

[2022-10-15 08:10] imr555 commented on #4
@CamdenClark  , First of all I want to say that exceptionally good work on finding the license and filtering the repos

As @PhungVanDuy  said, it would be great if you could download all repos regardless of stars.
I believe @ncoop57  told me to do that too. As Gitlab is very much different from Github.

Like, it would be great if you would able to download , commited code, code diffs, issues and r

[2022-10-16 16:29] PhungVanDuy commented on #37
I propose a workflow like this: convert data to HuggingFace Dataset object our pipeline will process on this format after that: remove small documents/code (with words count), remove documents containing flagged words, PII, deduplicate (near-deduplicate) for both code and documents.
Just found that BigCode also implements for PII and dedup: https://github.com/bigcode-project/bigcode-analysis/tree/

[2022-10-16 19:01] CamdenClark commented on #4
Thanks all! I refactored my script that scrapes all the gitlab repo license info to use aiohttp which makes it possible to do within 24 hours I think. I will run the script today to do so.

Today I plan to organize these into real scripts that we could run sequentially, and scrape the issue data along with the repo code itself.

**I'm wondering specifically what commit and diff data we are looking

[2022-10-18 04:41] CamdenClark commented on #4
so I was looking into getting all diffs from Gitlab as well, I think API calls are the wrong way to go about this.

Let's say there are about 300k repositories with permissive licensing, and each repository has on average 10 commits (pretty conservative).

That means we need to do
1 API call to list commits and 10 to get the diff of each commit.
That results in ~3M api calls for each repository.

[2022-10-20 17:25] Jehoshaph commented on #17
Happy to work on this if no one else is currently working on it. Can probably re-use a lot of the UseNet code here.

[2022-10-21 15:50] vanga commented on #35
Based on information from @PhungVanDuy and my own research so far:

https://ghtorrent.org/ project doesn't seem to be active. Data is only there till 2019. Even that, we can only get the issue ids.

Bigquery public dataset github_repo doesn't have issues and comments.

So our options seem to be either extracting the necessary data from githubarchive bigquery dataset or via the Github API directly.

[2022-10-21 15:59] PhungVanDuy commented on #35
Thank you for the great summarize. It looks the same as my observation before.
I wonder if based on multiple data tables, we can merge every event in the same GitHub URL, Github URL should be available on the query above. After that, we can sort groups by time created?

[2022-10-21 18:08] vanga commented on #35
I am contemplating on few things..
If the githubarchive project is only archiving "created" events, are we ok to ignore the edits being made afterwards? Maybe the percentage of comments getting edited is small? I am not sure.

I have also downloaded a couple of raw dumps from https://www.gharchive.org/ I only see "created" for comments.
For "issues", the action is only one of "opened", "closed", "

[2022-10-21 18:17] vanga commented on #35
It is clarified [here](https://github.com/igrigorik/gharchive.org/issues/183) on the fact that edit events are not part of the gharchive.

[2022-10-24 04:43] vanga commented on #35
Github APIs treat both issues and pull request in a similar manner. [Ref](https://docs.github.com/en/rest/issues/issues)

`IssuesEvent` contains events related to issue + pull request creation/closed events
`IssueCommentEvent` contains events related to issue + pull request comments.

In bigquery, we can filter for events that are not pull requests like this
[code]

Similarly, comments that are no

[2022-10-26 12:10] reshinthadithyan commented on #4
Circling back, any updates @CamdenClark, @imr555  ?
Let's start by collecting the latest commit in the master branch. We can later figure out about diffs.

[2022-10-27 23:14] bentrevett commented on #32
Wrote a quick scraper for this, unsure of the format required, but this writes each page of a thread as JSON file per line.

https://gist.github.com/bentrevett/274db7de0258bab8adf235045344bed7

There's two types of threads:
- Standard threads with comments
- "Question" threads, in which each comment is a "suggestedAnswer", and also provides the "acceptedAnswer" (potentially useful for some form of

[2022-10-30 21:55] taisazero commented on #11
## Filtering Resources

### Toxic Content
[Toxic Subreddits](https://en.wikipedia.org/wiki/Controversial_Reddit_communities) from [(Gehman et al., 2020)](https://arxiv.org/pdf/2009.11462.pdf)

Looked also into DialoGPT's excluded subreddits but it was empty: [DialoGPT Subreddit blocklist](https://github.com/microsoft/DialoGPT/blob/master/reddit_extractor/lists/subreddits.blocklist.txt)
### Low-Qua

[2022-11-01 15:02] ncoop57 commented on #37
We will not dedup the following:

1. The Stack - since it has already had dedup ran on it
2. GitHub Diffs - as it would remove too many instances due to their short length and high overlap

[2022-11-07 19:36] ncoop57 commented on #37
We will use this lib: https://github.com/CarperAI/squeakily to manage the different filtering and cleaning steps on a per dataset basis. There will be a global set of filters and cleaners that will be applied to each dataset such as flagged word removal and a local set of filters and cleaners that are specific to each data source.

[2022-11-09 17:10] #16 closed

[2022-11-09 17:10] #1 closed

[2022-11-09 17:11] #7 closed

[2022-11-09 17:12] ncoop57 commented on #12
gonna close this as it seems it is done in our spreadsheet.

[2022-11-09 17:12] #12 closed

[2022-11-09 19:02] ncoop57 commented on #4
Honk honk (we are addicted to geese memes at Carper) y'all, thanks so much for such great work! @imr555 @CamdenClark could y'all work on a PR for getting the code from the latest commit as @reshinthadithyan discussed for now? We are pushing up against a deadline and wanna make sure we get this data source in.

[2022-11-09 19:40] CamdenClark commented on #4
Yes I can! I am off work today and the next so can have something to pull together.

[2022-11-09 19:53] ncoop57 commented on #4
awesome!!! 😎

[2022-11-11 13:39] ncoop57 opened #46 "Catalog Licenses/Copyright for each data source"
For every data source, we need to keep track of the license to ensure we are not violating it, especially around redistribution.

The main sources we need to catalog for the first thrust of code pile is the following sources:
- [x] Programming contests.
- [x] Stack Exchange.
- [x] GitHub Diffs.
- [x] GitHub Issues
- [x] Reddit
- [x] AI4Code
- [x] Discourse
- [x] Wikibooks

[2022-11-11 13:40] ncoop57 commented on #46
Completed: https://docs.google.com/spreadsheets/d/19IAFhqRvhRxdUj-df8PUOBI2W8aEqGmJmBcZvXOuDZY/edit?usp=sharing

[2022-11-11 13:40] #46 closed

[2022-11-11 13:53] ncoop57 opened #47 "Add datasheets for all datasources"
Follow work in data documentation space such as https://arxiv.org/abs/1803.09010 and https://arxiv.org/abs/2201.07311

We will be basing our documentation off the template from huggingface: https://github.com/huggingface/datasets/blob/main/templates/README.md